<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
  <ul class="left">
    <li>
      <%= link_to(image_tag('/images/theme/kudelabs-logo.png'), this_blog.base_url, class: '')%>
    </li>
  </ul>
  <ul class="right">
    <li>
      <%= link_to('Our Blog', {controller: 'articles', action: 'index'}, class: 'blog-link') %>
    </li>
  </ul>
</nav>

<div class="main">

  <section id="who-1">

    <div class="top">
      <div class="large-4 large-centered columns">
        <p>
          <span class="text-center">
            Delivering Quality Software
          </span>
        </p>
      </div>
    </div>

    <div class="bottom row">
      <div class="large-9 large-centered columns">
        <p class="text-justify">
          Kudelabs is a bespoke software agency delivering well crafted software to clients around the world. We work with an international team of software architects, engineers, and designers to provide robust solutions to complex problems. From future energy distribution to remote control cameras our projects span a variety of industries and are deployed at different scales. The thread running through this diverse portfolio is an emphasis on good design, sound engineering, and quality craftsmanship. 
        </p>
      </div>
    </div>

  </section>

  <section id="who-2">

    <div class="top">
      <div class="large-3 columns">
        <p>
          <span>
            Ruby on Rails in Guangzhou, China
          </span>
        </p>
      </div>
    </div>
    
    <div class="bottom row">
      <div class="large-8 large-centered columns">
        <p class="text-justify">
          We started in 2008 as a Ruby on Rails shop, and continue to use this framework as one of our main tools. 
        </p>
      </div>
    </div>

  </section>

  <section id="who-3">
    <div class="wrap row">
      <div class="placeholder"></div>
      <div class="bg">
      </div>
      <div class="placeholder"></div>
      <p class="large-4 columns">
        <span>
          We Pride Ourselves In   Building A Strong Team Environment Where We Work Together To Solve Difficult Problems. 
        </span>
      </p>
    </div>

  </section>

  <section id="office">

    <div class="top">
      <ul class="large-block-grid-5">
        <li><%= image_tag("/images/theme/office-sample.jpg")%></li>
        <li><%= image_tag("/images/theme/office-sample.jpg")%></li>
        <li><%= image_tag("/images/theme/office-sample.jpg")%></li>        
        <li><%= image_tag("/images/theme/office-sample.jpg")%></li>
        <li><%= image_tag("/images/theme/office-sample.jpg")%></li>
        <li><%= image_tag("/images/theme/office-sample.jpg")%></li>
        <li><%= image_tag("/images/theme/office-sample.jpg")%></li>        
        <li><%= image_tag("/images/theme/office-sample.jpg")%></li>
      </ul>

    </div>
    
    <div class="bottom row">
      <div class="large-10 large-centered columns">
        <h3>OFFICE ENVIORMENT</h3>
        <p class="text-justify">
          Our office is open to visitors, if you are in the area and would like to stop by feel free to get in touch (<a href="mailto:connect@kudelabs.com">connect@kudelabs.com</a>). We are especially happy to meet entrepreneurs, technology enthusiasts, and developers from anywhere.
        </p>
      </div>
    </div>

  </section>

  <section id="employee">
  </section>

  <section id="contact">
    <div class="top">
      <div class="wrap large-8 large-centered columns">
        <div class="align-middle text-center">
          <h3>JOIN US!</h3>
          <p class="text-justify">
            If you are a web developer located in the Guangzhou area, or willing to relocate to the Guangzhou area, we would love to talk to you. You should have significant experience building web-based applications. We are looking for experts in front-end development, ruby hackers, and deployment specialists.
          </p>
          <div class="apply large-10 large-centered columns">TO APPLY SEND YOUR <span>ENGLISH</span> COVER LETTER &amp; RESUME TO US</div>
          <div class="mailto"><a href="mailto:connect@kudelabs.com">connect@kudelabs.com</a></div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="large-6 columns">
        <ul class="contact">
          <li>
            Going to
            <h5>VISIT OUR OFFICE</h5>
          </li>
          <li>
            Looking for
            <h5>COOPERATION</h5>
          </li>
          <li>
            Intent to
            <h5>JOIN US</h5>
          </li>
          <li>
            <h5>CONTACT US</h5>
            <a href="mailto:connect@kudelabs.com">connect@kudelabs.com</a>
          </li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li><h5>COMMUNITY</h5></li>
          <li><a href="http://www.gzruby.org/">GZRuby</a></li>
          <li><a href="http://gems.gzruby.org/">GZRuby Rubygems</a></li>
          <li><a href="http://www.kudelabs.com/category/rails-on-campus">Rails on Campus</a></li>
          <li><a href="http://railsgirls.com/guangzhou">Rails Girls GZ</a></li>
          <li><a href="http://startupgrind.com/guangzhou">StartupGrind GZ</a></li>
          <li><a href="http://guangzhou.startupweekend.com/">Startup Weekend GZ</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li><h5>PUBLIC PROJECTS</h5></li>
          <li><a href="http://github.com/kudelabs">Kudelabs @ Github</a></li>
          <li><a href="http://rango360.com/">Rango - 360ยบ</a></li>
          <li><a href="http://pleasesign.in/">PleaseSign.in</a></li>
          <li><a href="http://schedule.ph/">Schedule.ph</a></li>
          <li><a href="http://prdguide.com/">PRDGuide.com</a></li>
          <li><a href="http://gztechjobs.com/">GZTechJobs.com</a></li>
        </ul>
      </div>
      <div class="large-12 columns footer">
        <div class="hr"></div>
        Kudelabs &copy; 2008 - <%= Time.now.year %>
      </div>
    </div>

  </section>

</div>
<script>
  $(document).ready(function(){
    $('.main').onepage_scroll({
      sectionContainer: 'section',
      responsiveFallback: 600,
      loop: true
    });
    loadMembers();
  });
  function loadMembers(){
    var members = [
      "anny",
      "billy",
      "cantin",
      "chad",
      "doni",
      "little",
      "shaokun",
      "xurry",
      "zernel",
      "zhong"
    ];
    members = shuffleArray(members);
    var Objul = $('<ul/>')
        .addClass('large-block-grid-5');
    $.each(members, function(i, member){
      var img = $('<img/>')
          .attr('src', '/images/theme/' + member + '.png');
      var li = $('<li/>')
          .append(img)
          .appendTo(Objul);
    });
    $('#employee').append(Objul);
  }
  function shuffleArray(array) {
      for (var i = array.length - 1; i > 0; i--) {
          var j = Math.floor(Math.random() * (i + 1));
          var temp = array[i];
          array[i] = array[j];
          array[j] = temp;
      }
      return array;
  }
</script>